<header class="site-header">
  <div class="container">
    <h1 class="set-title"></h1>
    <nav class="site-nav">
      <ul>
        <li><a href="/{{ page.lang }}/">Home</a></li>
        <li><a href="/{{ page.lang }}/about/">About</a></li>
        <li><a href="/{{ page.lang }}/works/">Works</a></li>
        <li class="lang-switch">
          {% if page.lang == 'ja' %}
            <a href="{{ page.url | replace_first: '/ja', '/en' | relative_url }}">English</a>
          {% else %}
            <a href="{{ page.url | replace_first: '/en', '/ja' | relative_url }}">日本語</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</header>
