<header class="site-header">
  <div class="container">
    <h1 class="set-title"></h1>
    <nav class="site-nav">
      <ul>
        <li>
          <a href="{% if page.lang == 'en' %}/en/{% else %}/{% endif %}">Home</a>
        </li>
        <li>
          <a href="{% if page.lang == 'en' %}/en/about/{% else %}/about/{% endif %}">About</a>
        </li>
        <li>
          <a href="{% if page.lang == 'en' %}/en/works/{% else %}/works/{% endif %}">Works</a>
        </li>
        <li class="lang-switch">
          {% if page.lang == 'ja' %}
            <a href="/en{{ page.url }}">English</a>
          {% else %}
            <a href="{{ page.url | replace_first: '/en', '' }}">日本語</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</header>
