<div class="main">
    <div class="profile-section">
        <img src="/assets/images/me.JPG" alt="Profile Picture" class="profile-img">
        <div class="profile-text">
            {% if page.lang == 'ja' %}
                <p class="profile-title">野々村 陸大 / Rikuto Nonomura</p>
                <p>神戸大学大学院 工学研究科 博士後期課程（D1）<br>機能ロボット学研究室</p>
                <p>研究分野：自律移動ロボット，環境認識</p>
            {% else %}
            <p class="profile-title">Rikuto Nonomura</p>
                <p>Ph.D. student. Graduate school of Engineering, Kobe University, Japan <br>Function-Oriented Robotics Laboratory</p>
                <p>Research interests: autonomous mobile robot, environmental recognition</p>
            {% endif %}
            <div class="social-icons">
                <div class="social-item">
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/RickNon" target="_blank" rel="noopener noreferrer">GitHub</a>
                </div>
                <div class="social-item">
                    <i class="fab fa-x-twitter"></i> 
                    <a href="https://twitter.com/ricknon22" target="_blank" rel="noopener noreferrer">X/Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>