body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', 'Roboto', sans-serif;
}

a { 
    color: #16b3f1;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}