body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', 'Roboto', sans-serif;
}

a { 
    color: #16b3f1;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

// works
.pub-list {
    list-style: decimal inside;
    padding-left: 0;
    margin: 2rem 0;

    li {
        margin-bottom: 2rem;

        .pub-title {
            font-size: 1.2rem;
            font-weight: bold;
            display: inline;
        }
        
        .pub-details {
            display: block;
            margin-top: 0.3rem;
            margin-left: 1.2rem;
            color: #333;
        }
    }
}