body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', 'Roboto', sans-serif;
}

a { 
    color: #16b3f1;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

//table
table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: 0.95rem;

    th, td {
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
        text-align: left;
    }

    th {
        background-color: #f5f5f5;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #fafafa;
    }
}