@import "{{site.theme}}";  /* Importing the theme CSS file */

body {
    font-family: Arial, sans-serif;  /* Set default font */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;  /* Light background color */
}

header {
    background-color: #333;  /* Dark header background */
    color: #fff;
    padding: 1rem;
}

/* nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
} */

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
