<section class="index-section">
    <div class="index-container">
        {% if page.lang == 'ja' %}
        <h2 style="color: #00008b">最近の活動</h2>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>年月</th>
                    <th>活動内容</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>2026.1</td><td>SI2025 優秀講演賞を受賞しました．</td></tr>
                    <tr><td>2026.1</td><td>中之島チャレンジシンポジウム2025にて発表しました．</td></tr>
                    <tr><td>2025.12</td><td>第26回計測自動制御学会システムインテグレーション部門講演会にて発表しました．</td></tr>
                    <tr><td>2025.11</td><td>ICCAS2025で「Efficient Global Path Planning with Polygonal Proximity Map: A Geometric Approach for Mobile Robots」を発表しました．</td></tr>
                    <tr><td>2025.8</td><td>The 25th International Conference on Control, Automation, and Systems (ICCAS2025) に投稿論文がアクセプトされました．</td></tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <h2 style="color: #00008b">Recent Activities</h2>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Activities</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>2026.1</td><td>Received the SI2025 Excellent Speaker Award.</td></tr>
                    <tr><td>2026.1</td><td>Presented at Nakanoshima Robot Challenge Symposium 2025.</td></tr>
                    <tr><td>2025.12</td><td>Presented at The 26th SICE System Integration Division Conference.</td></tr>
                    <tr><td>2025.11</td><td>Presented "Efficient Global Path Planning with Polygonal Proximity Map: A Geometric Approach for Mobile Robots" at ICCAS2025.</td></tr>
                    <tr><td>2025.8</td><td>My paper has been accepted for presentation at The 25th International Conference on Control, Automation, and Systems.</td></tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    <div class="index-container">
        {% if page.lang == 'ja' %}
        <h2 style="color: #00008b">最近の投稿（X/Twitter）</h2>
        {% else %}
        <h2 style="color: #00008b">Recent Posts (X/Twitter)</h2>
        {% endif %}
        <div class="twitter-container">
            <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">昨年11月のICCASでの発表は IEEE Xplore でアクセスできるようになっていました。計算負荷の低い経路計画法を提案した発表です。<a href="https://t.co/iOl5UxE5Fa">https://t.co/iOl5UxE5Fa</a></p>&mdash; Nonomura (@ricknon22) <a href="https://twitter.com/ricknon22/status/2015778898261520617?ref_src=twsrc%5Etfw">January 26, 2026</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">昨年ロボット学会誌に投稿した論文が掲載されました！<br>抄録は冊子に、本文はJ-Stageにてオープンアクセス掲載されています。<a href="https://t.co/sZmwTh8luo">https://t.co/sZmwTh8luo</a></p>&mdash; Nonomura (@ricknon22) <a href="https://twitter.com/ricknon22/status/2015777984024822051?ref_src=twsrc%5Etfw">January 26, 2026</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">中之島チャレンジありがとうございました！<br>今年は新たな試みを色々しましたが、ATCでは完走できず...<br>また来年に向けて頑張ります💪<a href="https://twitter.com/hashtag/%E3%81%AA%E3%81%8B%E3%83%81%E3%83%A3%E3%83%AC?src=hash&amp;ref_src=twsrc%5Etfw">#なかチャレ</a> <a href="https://t.co/c38GbxuQcB">pic.twitter.com/c38GbxuQcB</a></p>&mdash; Nonomura (@ricknon22) <a href="https://twitter.com/ricknon22/status/1997663581731479775?ref_src=twsrc%5Etfw">December 7, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</section>