<section class="index-section">
    <div class="index-container">
        {% if page.lang == 'ja' %}
        <h2 style="color: #00008b">最近の活動</h2>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>年月</th>
                    <th>活動内容</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>2025.3</td><td>学内の研究経過報告会で発表しました．</td></tr>
                    <tr><td>2025.1</td><td>中之島ロボットチャレンジシンポジウムにて発表しました．</td></tr>
                    <tr><td>2024.11</td><td>中之島ロボットチャレンジエクストラチャレンジ@ATCに参加しました．</td></tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <h2 style="color: #00008b">Recent Activities</h2>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Activities</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>2025.3</td><td>Presented at the internal research progress report meeting.</td></tr>
                    <tr><td>2025.1</td><td>Presented at the Nakanoshima Robot Challenge Symposium.</td></tr>
                    <tr><td>2024.11</td><td>Participated in the Nakanoshima Robot Challenge Extra Challenge @ ATC.</td></tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    <div class="index-container">
        {% if page.lang == 'ja' %}
        <h2 style="color: #00008b">投稿（X/Twitter）</h2>
        {% else %}
        <h2 style="color: #00008b">Posts (X/Twitter)</h2>
        {% endif %}
        <div class="twitter-container">
            <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">中之島チャレンジのエクストラチャレンジ2日間ありがとうございました！<br>雨もありましたが、今回は新しいことも実験しつつ周回走行もやれたので満足度高めです。<br>(2回目の本走行中に15:00を過ぎてしまったので写真は撮れず...)<br><br> <a href="https://twitter.com/hashtag/%E3%81%AA%E3%81%8B%E3%83%81%E3%83%A3%E3%83%AC?src=hash&amp;ref_src=twsrc%5Etfw">#なかチャレ</a></p>&mdash; Nonomura (@ricknon22) <a href="https://twitter.com/ricknon22/status/1860582889961980178?ref_src=twsrc%5Etfw">November 24, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">今年も中之島チャレンジに参加させていただきました。<br>本走行2回とも完走できて嬉しいです。<br>ありがとうございました！<a href="https://twitter.com/hashtag/%E3%81%AA%E3%81%8B%E3%83%81%E3%83%A3%E3%83%AC?src=hash&amp;ref_src=twsrc%5Etfw">#なかチャレ</a> <a href="https://t.co/tI7uZccKrz">pic.twitter.com/tI7uZccKrz</a></p>&mdash; Nonomura (@ricknon22) <a href="https://twitter.com/ricknon22/status/1840289289634291937?ref_src=twsrc%5Etfw">September 29, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet"><p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/robomech2024?src=hash&amp;ref_src=twsrc%5Etfw">#robomech2024</a><br> 今日はMATLABとヒューマノイドのチュートリアルに参加しました！<br>明日は発表です💪 <a href="https://t.co/aWQfMbBGak">pic.twitter.com/aWQfMbBGak</a></p>&mdash; Nonomura (@ricknon22) <a href="https://twitter.com/ricknon22/status/1795764588526596386?ref_src=twsrc%5Etfw">May 29, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</section>