<div class="works">
    <h1 style="color: #00008b">
        {% if page.lang == 'ja' %}
            業績
        {% else %}
            Works
        {% endif %}
    </h1>
    <p></p>
    <h2 style="color: #00008b">
        {% if page.lang == 'ja' %}
            学術論文
        {% else %}
            Journal Papers
        {% endif %}
    </h2>
    {% assign pubs = site.data.publications.journals %}
    <ol class="pub-list" reversed start="{{ pubs | size }}">
        {% for pub in pubs %}
            <li>
            <span class="pub-title">{{ pub.title[page.lang] }}</span>
            <div class="pub-details">
                <span class="pub-authors">{{ pub.authors[page.lang] }}</span><br>
                <span class="pub-meta">{{ pub.journal[page.lang] }}, {{ pub.year }}. <a href="{{ pub.doi }}" target="_blank">LINK</a></span>
            </div>
            </li>
        {% endfor %}
    </ol>
    <p></p>
    <h2 style="color: #00008b">
        {% if page.lang == 'ja' %}
            学会発表
        {% else %}
            Conference Papers
        {% endif %}
    </h2>
    {% assign confs = site.data.publications.conferences %}
    <ol class="pub-list" reversed start="{{ confs | size }}">
        {% for pub in confs %}
            <li>
                <span class="pub-title">{{ pub.title[page.lang] }}</span>
                <div class="pub-details">
                    <span class="pub-authors">{{ pub.authors[page.lang] }}</span><br>
                    <span class="pub-meta">{{ pub.journal[page.lang] }}, {{ pub.year }}. <a href="{{ pub.doi }}" target="_blank">LINK</a></span>
                </div>
            </li>
        {% endfor %}
    </ol>
    <p></p>
    <h2 style="color: #00008b">
        {% if page.lang == 'ja' %}
            シンポジウム
        {% else %}
            Symposium
        {% endif %}
    </h2>
    {% assign sympos = site.data.publications.symposiums %}
    <ol class="pub-list" reversed start="{{ sympos | size }}">
        {% for pub in sympos %}
            <li>
                <span class="pub-title">{{ pub.title[page.lang] }}</span>
                <div class="pub-details">
                    <span class="pub-authors">{{ pub.authors[page.lang] }}</span><br>
                    <span class="pub-meta">{{ pub.journal[page.lang] }}, {{ pub.year }}. <a href="{{ pub.doi }}" target="_blank">LINK</a></span>
                </div>
            </li>
        {% endfor %}
    </ol>
    <p></p>
    <h2 style="color: #00008b">
        {% if page.lang == 'ja' %}
            学位論文
        {% else %}
            Dissertations
        {% endif %}
    </h2>
    {% assign disse = site.data.publications.dissertations %}
    <ol class="pub-list" reversed start="{{ disse | size }}">
        {% for pub in disse %}
            <li>
                <span class="pub-title">{{ pub.title[page.lang] }}</span>
                <div class="pub-details">
                    <span class="pub-authors">{{ pub.authors[page.lang] }}</span><br>
                    <span class="pub-meta">{{ pub.journal[page.lang] }}, {{ pub.year }}. <a href="{{ pub.doi }}" target="_blank">LINK</a></span>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>